*{
	box-sizing: border-box;
}
html{
	font-family: 'Lato', sans-serif;
}
.lateral{
	background: #E6E6E6;
	padding: 1em;
	width: 350px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
}
/* --------Perfil-------- */
.perfil__circulo{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin: 0;
	overflow: hidden;
}
.perfil__foto{
	width: 100%;
}
.perfil__nombres{
	color: #FFFFFF;
	font-size: 20px;
	width: 250px;
	margin-left: 0.5em;
}
.perfil__circulo, .perfil__nombres {
	display: inline-block;
	vertical-align: middle;
}
/* ----------Info---------- */
.info{
	color: #A29C95;
	position: absolute;
	bottom: 1em;
}
.info_titulo{
	font-size: 18px;
}
/* --------Habilidades-------- */
.habilidades{
	padding: 0em;
}
.habilidad{
	background-color: #A29C95;
	color: #FFFFFF;
	font-size: 12px;
	display: inline-block;
	padding: 0.5em;
}
/* --------Proyectos-------- */
.proyectos{
	margin-left: 350px;
	padding: 1em;
	display: table;
}
.proyecto{
	width: 50%;
	display: table-cell;
	padding: 1em;
}
.proyecto__imagen{
	width: 100%;
}
.proyecto__titulo{
	color: #A29C95;
	font-size: 18px;
}
.proyecto__descripcion{
	color: #484741;
}